/* similar to "well" class */
.work-exp {
  background-color: #f5f5f5;
  /* margin-bottom: 20px; */
  padding: 18px;
  min-height: 20px;
  /* border: 1px solid #eee; */
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

h2 .sub-title {
  margin-bottom: 12px;
}

div .item {
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}

div .smallclear {
  margin-bottom: 9px;
}

button.up-arrow {
  width: 180px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 150%;
  padding-bottom: 5px;
}

#search-header {
  margin-bottom: 15px;
}

/* From MDN site (needed to make HTML element attributes section look the same) */

.pageText code, .pageText tt {
  font: 100% "Courier New", "Andale Mono", monospace;
  font-weight: inherit;
  background-color: transparent;
}

.pageText code a {
  color: #333;
}

.pageText dd {
  margin: 0 0 .5em 22px;
  margin-bottom: .5em;
  padding-left: 15px;
}

div.note {
  margin-bottom: 1.286em;
  border: solid #DDDAAA;
  padding: .75em 15px;
  background: #FAF9E2;
  color: #5D5636;
  border-width: 1px 0;
}

div#toc-well {
  overflow-y: hidden;
}

div#search-results {
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  overflow-y: auto;
}

#secondary-nav iframe {
  margin-top: 10px;
}

div#about {
  display: none;
}

