<!-- <section id="search-header" style="padding-top:25px"> -->
<div class="page-header span10 offset6">
  <h1 style="">gimmeh teh CSS docs.</h1>
  <table class="bordered-table zebra-striped" style="width:412px">
    <tbody>
      <tr>
        <td>
          <div style="display:inline" class="span10">
            <input class="span10" id="search-box" name="search" type="text" placeholder="Enter a CSS property name" value=""/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </section> -->
