<!-- <section id="search-results" style="padding-top:0px"> -->
<% cssprops.each(function(cssprop) { %>
<% if ( !cssprop.get('visible') ) return; %>
<div>
  <div class="page-header span10 offset6">
    <h2><%= cssprop.get('name') %>  <small>default: <%= cssprop.get('defaultValue') %>, inherited: <%= cssprop.get('inherited') %></small></h2>
    <%= cssprop.get('description') %>

    <% if (cssprop.get('values').length > 0) { %>
    <h4>Possible Values</h4>
    <% _.each(cssprop.get('values'), function(val) { %>
    <strong><%= val.value %> </strong><%= val.description %><br/>
    <% }); %>
    <% } %>

    <% if (cssprop.get('examples').length > 0) { %>
    <h4>Examples</h4>
    <% _.each(cssprop.get('examples'), function(example) { %>
    <%= example.description %>
    <pre><%= example.code %></pre>
    <% }); %>
    <% } %>


    <br/><small>[<a target="_blank" href="<%= cssprop.get('srcUrl') %>">source</a>]</small>
  </div>
</section>
<% }); %>
<!-- </section> -->
