<!-- nav -->
<div class="container-fluid">
  <a class="brand" href="/">InstaCSS</a>
  <ul id="nav-list" class="nav">
    <li class="active"><a id="nav-css" data-lang="css" class="pointer">CSS</a></li>
    <li><a id="nav-html" data-lang="html" class="pointer">HTML</a></li>
    <li><a id="nav-javascript" data-lang="javascript" class="pointer">JavaScript</a></li>
  </ul>
  <ul id="secondary-nav" class="secondary-nav">
    <li><a id="nav-about" href="#about">About</a></li>
    <li><a id="twitter-link" target="_blank" href="http://www.twitter.com/instacss">@instacss</a></li>
  </ul>
</div>
