<!-- nav -->
<div class="container-fluid">
  <a class="brand pointer">dochub</a>
  <ul id="nav-list" class="nav">
    <li class="active"><a id="nav-css" data-lang="css" class="pointer">CSS</a></li>
    <li><a id="nav-html" data-lang="html" class="pointer">HTML</a></li>
    <li><a id="nav-javascript" data-lang="javascript" class="pointer">JavaScript</a></li>
    <li><a id="nav-dom" data-lang="dom" class="pointer">DOM</a></li>
    <li><a id="nav-jquery" data-lang="jquery" class="pointer">jQuery</a></li>
    <li><a id="nav-php" data-lang="php" class="pointer">PHP</a></li>
    <li><a id="nav-python" data-lang="python" class="pointer">Python</a></li>
    <!--<li><a id="nav-xslt" data-lang="xslt" class="pointer">XPath/XSLT</a></li>-->
  </ul>
  <ul id="secondary-nav" class="secondary-nav">
    <li><a id="nav-about" href="#about">About</a></li>
    <li><a id="twitter-link" target="_blank" href="http://www.twitter.com/documenthub">@documenthub</a></li>
  </ul>
</div>
